<div style="font-size: 3rem;">
    @StoreItem.TargetName.GetWords
</div>
<div>
    <ImageButtonComponent Height="300"
                          Style="background-color: red;"
                          Name="@ImageUrl"
                          OnClick="OnAcquire" />
</div>