@inherits FarmComponentBase

<IntegerInputModal StartBlank="true"
    @bind-Visible="_openOptions"
    CloseOnSubmit="false"
    ValueChanged="OnChose">
    <ImageButtonComponent 
        Name="@GetName(_currentOption)"
        Height="100"
        />
    @InventoryManager.Get(_currentOption)
</IntegerInputModal>

<ObjectRepeater RenderList="_instances" Context="item">
    <ImageButtonComponent Name="@GetName(item)"
        OnClick="() => ChooseInstance(item)"
        Height="100" />
        <span style="font-size:  2rem;">@InventoryManager.Get(item)</span>
</ObjectRepeater>